#Directories
build/
debug/
_API/


#Files
*.bat
!BUILD_debug.bat
!BUILD_release.bat
.vscode/settings.json


#Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vscode/c_cpp_properties.json
.vscode_legacy
