#Directories
/build/
/debug/
/_API/


#Files
/*.bat
!GenSolution.bat
/*.sh
!GenSolution.sh
.vscode/settings.json
.vscode/


#Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vscode/c_cpp_properties.json
.vscode_legacy


#Cmake
#_Solution/
#cmake/
*.cmake
CMakeCache.txt
CMakeFiles/